services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: teensconf
      POSTGRES_USER: teensregister
      POSTGRES_PASSWORD: teens2026reg
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./uploads:/app/uploads
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U teensregister -d teensconf"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: 
      context: ./teens_rega_back
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      CORS_ALLOWED_ORIGINS: http://81.177.139.130:3000,http://localhost:3000
    env_file:
      - .env  
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    volumes:
      - ./uploads:/app/uploads

  frontend:
    build:
      context: ./teens_rega_front
      dockerfile: Dockerfile
    ports:
      - "3000:80" 
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  postgres_data:
  uploads_data:

networks:
  app-network:
    driver: bridge