spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: always

  flyway:
    enabled: false

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true

  servlet:
    multipart:
      max-file-size: 10MB

  mail:
    host: ${SMTP_HOST}
    port: ${SMTP_PORT}
    username: ${SMTP_USERNAME}
    password: ${SMTP_PASSWORD}
    protocol: smtps
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  logging:
    level:
      com.teensconf: DEBUG
      org.hibernate.SQL: DEBUG
      org.hibernate.type.descriptor.sql.BasicBinder: TRACE

  task:
    scheduling:
      enabled: true

server:
  port: ${SERVER_PORT}
  ssl:
    enabled: false

app:
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}
  email:
    from: ${EMAIL_FROM}
  upload:
    dir: ${UPLOAD_DIR}
  admin:
    username: ${ADMIN_USERNAME}
    password: ${ADMIN_PASSWORD}
  payment:
    amount: ${PAYMENT_AMOUNT}

yandex:
  sheets:
    client-id: ${YANDEX_CLIENT_ID}
    client-secret: ${YANDEX_CLIENT_SECRET}
    access-token: ${YANDEX_ACCESS_TOKEN}
    file-name: ${YANDEX_FILE_NAME}