spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/teensconf
    username: teensregister
    password: teens2026reg
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: never

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    clean-disabled: false

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true

  servlet:
    multipart:
      max-file-size: 1MB

  mail:
    host: ${SMTP_HOST:smtp.mail.ru}
    port: ${SMTP_PORT:465}
    username: ${SMTP_USERNAME:teens_conf@inbox.ru}
    password: ${SMTP_PASSWORD:yVmxzKIeaO4XpCpXfUqF}
    protocol: smtps
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  logging:
    level:
      com.teensconf: DEBUG
      org.hibernate.SQL: DEBUG
      org.hibernate.type.descriptor.sql.BasicBinder: TRACE

  task:
    scheduling:
      enabled: true

server:
  port: 8080
  address: 0.0.0.0
  ssl:
    enabled: false

app:
  cors:
    allowed-origins: "${CORS_ALLOWED_ORIGINS:http://localhost:3000}"
  email:
    from: ${EMAIL_FROM:teens_conf@inbox.ru}
  upload:
    dir: ${UPLOAD_DIR:./uploads/receipts}
  admin:
    username: ${ADMIN_USERNAME:wolsar_teens2026}
    password: ${ADMIN_PASSWORD:TINS2026_REGA}
  payment:
    amount: ${PAYMENT_AMOUNT:500.0}

yandex:
  sheets:
    client-id: ${YANDEX_CLIENT_ID:dad308956e6f4f6396e5d40bd204ae85}
    client-secret: ${YANDEX_CLIENT_SECRET:55e5149cdd684719b4c44cb38f9919c7}
    access-token: ${YANDEX_ACCESS_TOKEN:y0__xCz2NGwAhjvrjsg7tGVgxVPKBA3nWSJFE9ksDWtYPswRCc3HA}
    file-name: ${YANDEX_FILE_NAME:Teens_Conf_Registrations.xlsx}